@import "tailwindcss";

:root {
  --background: #efefef;
  --foreground: #000000;
}

@media (min-width: 768px) {
  html, body {
    cursor: none;
  }
  
  a, button {
    cursor: none;
  }
}

.dark {
  --background: #080808;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  transition: background-color 0.5s ease, color 0.5s ease;
  font-family: Arial, Helvetica, sans-serif;
}

.grain-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/grain.png');
  opacity: 0.5;
  pointer-events: none;
  z-index: 9999;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}