@import "tailwindcss";

:root {
  --background: #efefef;
  --foreground: #000000;
}

.dark {
  --background: #080808;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  transition: background-color 0.5s ease, color 0.5s ease;
  font-family: Arial, Helvetica, sans-serif;
}